<footer class='footer'>
  <div class='container'>
    <img
      class='logo'
      src='/graphics/logos/purple.png'
      alt='The Arachnid logo'
    >
    <p>
      &copy; 2019 Arachnid, all rights reserved | Web design by Kognise and audit0r
    </p>
  </div>
</footer>
