<header class='header'>
  <div class='inner container'>
    <div class='brand'>
      <a href='/'>
        <img
          class='logo'
          src='/graphics/logos/white.png'
          alt='The Arachnid logo'
        >
      </a>
    </div>

    <nav class='nav'>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='#'>Downloads</a></li>
        <li><a href='#'>Wiki</a></li>
        <li><a href='/faq'>FAQ</a></li>
      </ul>
    </nav>
  </div>
</header>