<!DOCTYPE html>
<html lang='en'>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>

    <section class='container center kinda-spacy'>
      <h2 class='x2'>
        Arachnid FAQ
      </h2>
      <p class='x3 dull'>
        These are some frequently asked questions that you can use to get more information on Arachnid. If you want to go more in-depth, check out <a href='#'>our wiki</a>.
      </p>
    </section>

    <section class='container'>
      <h2 class='x2'>
        FAQ Question One
      </h2>
      <p class='x4 dull'>
        This is the answer to this FAQ question. Blah blah blah blah blah specifics blah blah lmao lorem ipsum bacon.
      </p>
    </section>

    <section class='container'>
      <h2 class='x2'>
        FAQ Question Two
      </h2>
      <p class='x4 dull'>
        This is the answer to this FAQ question. Blah blah blah blah blah specifics blah blah lmao lorem ipsum bacon.
      </p>
    </section>

    <section class='container'>
      <h2 class='x2'>
        FAQ Question Three
      </h2>
      <p class='x4 dull'>
        This is the answer to this FAQ question. Blah blah blah blah blah specifics blah blah lmao lorem ipsum bacon.
      </p>
    </section>

    <section class='container center kinda-spacy'>
      <h2 class='x1 bold constricted'>
        Does all of this sound interesting?
      </h2>
      <button class='button'>
        Get Started
      </button>
    </section>

    <% include ../partials/footer %>
  </body>
</html>