<!DOCTYPE html>
<html lang='en'>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class='top'>
      <% include ../partials/header %>
    </div>

    <section class='hero graphic parallax g-hero'>
      <div class='container'>
        <h1 class='x1 bold constricted'>
          Free Virtual Network Space for Your Next Project
        </h1>
        <p class='x3 constricted'>
          Allocate large subnets and custom domains, all within a familiar TCP/IP ecosystem
        </p>
        <button class='button light'>
          Get Started
        </button>
      </div>
    </section>

    <section class='container center super-spacy'>
      <h2 class='x2'>
        Backed with Strength
      </h2>
      <p class='x3 dull'>
        Imagine an entirely virtual and scalable web, implementing standards you already know and love. Arachnid is powered by open-source software and a fully redundant infrastructure. 
      </p>
      <a href='/faq' class='button'>
        Visit the FAQs
      </a>
    </section>

    <section class='expodata container wider left b-spacy'>
      <div class='expo'>
        <div class='graphic g-network' role='img' aria-label='An image of the world with connected dots, symbolizing a global network'></div>
      </div>
      <div class='data container'>
        <h2 class='x2'>
          Secure and Open
        </h2>
        <p class='x3'>
          Arachnid makes use of a ZeroTier-based virtual network card to access the global network.
        </p>
        <p class='dull'>
          Learn more about our underlying technologies and functionality over at the wiki and knowledge base. We'll be periodically updating it so the information is comprehensive and up-to-date. Have a question? Feel free to <a href='#'>contact us</a>.
        </p>
        <a href='#' class='button'>
          Read Our Wiki
        </a>
      </div>
    </section>

    <section class='expodata container wider right'>
      <div class='expo'>
        <div class='graphic g-setup' role='img' aria-label='An image of a woman setting up an application'></div>
      </div>
      <div class='data container'>
        <h2 class='x2'>
          Simple Setup Process
        </h2>
        <p class='x3'>
          Our installer is available for all major platforms so you can be up and running in no time.
        </p>
        <a href='#' class='button'>
          View Downloads
        </a>
      </div>
    </section>

    <section class='container center super-spacy'>
      <h2 class='x1 bold constricted'>
        There's no sign up, just jump in!
      </h2>
      <button class='button'>
        Get Started
      </button>
    </section>


    <% include ../partials/footer %>
  </body>
</html>